@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  justify-content: space-around;
  font-family: "Maven Pro", sans-serif;
}

.flex button {
  border-radius: 10px;
  font-family: "Maven Pro", sans-serif;
}
